* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%)
}

nav {
    font-size: 2rem;
    padding: 1rem;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: blue;
}

.three-divs {
    height: 85vh;
    width: 60%;
    margin: auto;
    max-width: 70%;
    display: flex;
    align-items: center;
    
}

.firstbox {
    height: fit-content;
    padding: 3rem 2rem;
    border-radius: 5px;
    background-color: hsl(31, 77%, 52%);
}

.secondbox {
    height: fit-content;
    padding: 3rem 2rem;
    border-radius: 5px;
    background-color: hsl(184, 100%, 22%);
}

.thirdbox {
    height: fit-content;
    padding: 3rem 2rem;
    border-radius: 5px;
    background-color: hsl(179, 100%, 13%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
}

h1 {
    padding: 1rem 0;
    color: hsl(0, 0%, 95%);
}

button {
    border: 0;
    margin-top: 3rem;
    color: hsl(0, 0%, 95%);
    padding: 0.7em 1em;
    border-radius: 55px;
}

button:active {
    color: #fff;
    background: none;
    border: 2px solid;
}

button:hover {
    cursor: pointer;
}


.button1 {
    color: hsl(31, 77%, 52%);
}

.button2 {
    color: hsl(184, 100%, 22%);
}

.button3 {
    color: hsl(179, 100%, 13%);
}

@media (max-width: 900px) {
    .three-divs {
        flex-wrap: wrap;
        gap: 1em;
        margin: 2em auto;
        height: fit-content;
    }

    .firstbox, .secondbox, .thirdbox {
        padding: 2rem 1rem;
    }

}