* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%)
}

main {
    width: 50%;
    margin: 9rem auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.firstbox {
    border: 30px;
    padding: 5%;
    background-color: hsl(31, 77%, 52%);
}

.secondbox {
    padding: 5%;
    background-color: hsl(184, 100%, 22%);
}

.thirdbox {
    padding: 5%;
    margin: 15px auto;
    background-color: hsl(179, 100%, 13%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
}

h1 {
    margin: 1rem auto;
    color: hsl(0, 0%, 95%);
}

button {
    border: 0;
    margin-top: 3rem;
    color: hsl(0, 0%, 95%);
    padding: 7% 20%;
    border-radius: 55px;
}

button:active {
    color: #fff;
    background: none;
    border: 2px solid;
}

.button1 {
    color: hsl(31, 77%, 52%);
}

.button2 {
    color: hsl(184, 100%, 22%);
}

.button3 {
    color: hsl(179, 100%, 13%);
}

@media (max-width: 1000px) {
    main{
        flex-direction: column;
    }
    button{
        padding: 3% 10%;
    }
}